@{
    ViewBag.Title = "UserTinTuc";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    .auto-style1 {
        flex: 0 0 auto;
        width: 33.33333333%;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    #font_a {
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }

        #font_a:hover {
            color: #FA748F;
            font-weight: bold;
        }
</style>
<div class="row">
    <div class="col-md-3" style="background:#D9D9D9; height:270px; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; padding-top: 90px; padding-left:10%">
        <a style="color:#000000; font-size:35px;">Tin Tức</a>
        <br />
        <a style="color:#000000; font-size:medium">Trang Chủ</a> / <a style="color:#FA748F;font-size:medium">Tin Tức</a>
    </div>
    <div class="col-md-9" style="padding:0">
        <img src="~/Assets/img/gioiThieu.PNG" style="height:270px; width:100%" href="#" />
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <br />
        <div style="font-size:larger; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; text-align:center; font-weight:bold; font-size:30px">
            <a>TIN TỨC</a>
        </div>
        <br />
        <div style="background:#E8E0E0; height:1px"></div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div>
                    <a href="~/TinTuc/UserTin1"><img src="~/Assets/img/Tin1.jpg" style="width:100%; height:350px;" href="#" title="Thẩm mỹ không dao kéo - cuộc chơi của những người có tiền?" /></a>
                </div>
                <div>
                    <a id="font_a" href="~/TinTuc/UserTin1">Thẩm mỹ không dao kéo - cuộc chơi của những người có tiền?</a>
                </div>
                <div style="height:10px"></div>
                <div>
                    <img src="~/Assets/img/lich.PNG" style="width:25px; height:25px;" href="#" />
                    <a style="color:#D9D9D9; font-size:14px"></a> 28/03/2022
                </div>
                <div style="height:10px"></div>
                <div>
                    <a style="text-align:justify">Tại tọa đàm “Đánh thức vẻ đẹp tiềm ẩn” diễn ra ngày 23/12 ở TP HCM, hàng trăm chị em phụ nữ chia sẻ câu chuyện nhan sắc của mình. Dường như ai cũng có mong muốn, khát khao làm đẹp, có người lo lắng...</a>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <a href="#"><img src="~/Assets/img/Tin2.png" style="width:100%; height:350px;" href="#" title="Những sản phẩm làm đẹp xa xỉ tới mức khiến bạn choáng váng" /></a>
                </div>
                <div>
                    <a id="font_a" href="#">Những sản phẩm làm đẹp xa xỉ tới mức khiến bạn choáng váng</a>
                </div>
                <div style="height:10px"></div>
                <div>
                    <img src="~/Assets/img/lich.PNG" style="width:25px; height:25px;" href="#" />
                    <a style="color:#D9D9D9; font-size:14px"></a> 28/03/2022
                </div>
                <div style="height:10px"></div>
                <div>
                    <a style="text-align:justify">Sắm sửa “không ngớt tay” những sản phẩm làm đẹp là đam mê của hầu hết các nàng. Nhưng có bao giờ bạn nghĩ mình sẽ chi số tiền với tám con số cho một sản phẩm dưỡng da? Hay thậm chí vài chục tỷ cho...</a>
                </div>
            </div>
        </div>
        <br />
        <div style="background:#E8E0E0; height:1px"></div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <a href="#"><img src="~/Assets/img/Tin3.jpg" style="height:180px; width:100%" href="#" /></a>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <a style="font-size:20px; font-weight:bold">Xu hướng làm đẹp không cần dao kéo của phụ nữ hiện đại</a>
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <img src="~/Assets/img/lich.PNG" style="width:25px; height:25px;" href="#" />
                            <a style="color:#D9D9D9; font-size:14px"></a> 28/03/2022
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <a style="text-align:justify">Kỷ nguyên của công nghệ làm đẹp mới – Xu hướng làm đẹp mà không cần phẫu thuật.Trước đây, mọi ng...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <a href="#"><img src="~/Assets/img/Tin4.jpg" style="height:180px; width:100%" href="#" /></a>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <a style="font-size:20px; font-weight:bold">Lắng nghe Beauty Blogger Thúy Võ chia sẻ “bí kíp” làm đẹp ngày Tết</a>
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <img src="~/Assets/img/lich.PNG" style="width:25px; height:25px;" href="#" />
                            <a style="color:#D9D9D9; font-size:14px"></a> 28/03/2022
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <a style="text-align:justify">Vốn dĩ, phụ nữ đã đẹp là phải đẹp quanh năm. Không có lý do gì để nàng chỉ đầu tư cho nhan sắc v...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div style="background:#E8E0E0; height:1px"></div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <a href="#"><img src="~/Assets/img/Tin5.png" style="height:180px; width:100%" href="#" /></a>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <a style="font-size:20px; font-weight:bold">Thỏi son môi được đặt tên theo danh hiệu Công nương Kate Middleton</a>
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <img src="~/Assets/img/lich.PNG" style="width:25px; height:25px;" href="#" />
                            <a style="color:#D9D9D9; font-size:14px"></a> 28/03/2022
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <a style="text-align:justify">Và đây là màu son phản ánh chuẩn xác hình ảnh của Công nương Kate Middleton trước công chúng...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <a href="#"><img src="~/Assets/img/Tin6.jpg" style="height:180px; width:100%" href="#" /></a>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <a style="font-size:20px; font-weight:bold">Trải nghiệm công nghệ chống lão hóa thế hệ mới tại sự kiện ra mắt Lancôme Absolue Rose</a>
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <img src="~/Assets/img/lich.PNG" style="width:25px; height:25px;" href="#" />
                            <a style="color:#D9D9D9; font-size:14px"></a> 28/03/2022
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <a style="text-align:justify">Hàng loạt mỹ nhân và beauty blogger danh tiếng đã cùng trải nghiệm công nghệ chống lão hóa Absol...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    <div class="col-md-1"></div>
    <br />
</div>
<div class="row">
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <br />
        <a style="font-weight:bold">HỖ TRỢ KHÁCH HÀNG</a><br />
        <a>Thắc mắc - Hỏi đáp</a><br />
        <a>Hướng dẫn mua hàng</a><br />
        <a>Đặt hàng & Thanh toán</a><br />
    </div>
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <br />
        <a style="font-weight:bold">THÔNG TIN LIÊN HỆ</a><br />
        <a>140 Lê Trọng Tấn, Tây Thạnh, Tân Phú </a><br />
        <a>Hotline: 012345678 - 098765432</a><br />
        <a>Tư vấn bán hàng từ(8h - 20h thứ 2 - chủ nhật)</a><br />
    </div>
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <br />
        <a style="font-weight:bold">KẾT NỐI VỚI CHÚNG TÔI</a><br />
        <a></a><br />
        <a href="https://www.facebook.com/"><img src="~/Assets/img/fb.jpg" style="width:40px; height:40px;" href="#" /></a>
        <a href="https://www.instagram.com/"><img src="~/Assets/img/IG.jpg" style="width:40px; height:40px;" href="#" /></a>
        <a href="https://www.twitter.com/"><img src="~/Assets/img/wb.jpg" style="width:40px; height:40px;" href="#" /></a>
        <br />
        <a></a><br />
    </div>
</div>
