@{
    ViewBag.Title = "UserTin1";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    .auto-style1 {
        flex: 0 0 auto;
        width: 33.33333333%;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    #button {
        background: #FA748F;
        color: #ffffff;
        border-radius: 0;
    }

        #button:hover {
            background: #000000;
        }
</style>
<div class="row">
    <div class="col-md-3" style="background:#D9D9D9; height:270px; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; padding-top: 90px; padding-left:10%">
        <a style="color:#000000; font-size:35px;">Tin Tức</a>
        <br />
        <a style="color:#000000; font-size:medium">Trang Chủ</a> / <a style="color:#FA748F;font-size:medium">Tin Tức</a>
    </div>
    <div class="col-md-9" style="padding:0">
        <img src="~/Assets/img/gioiThieu.PNG" style="height:270px; width:100%" href="#" />
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <br />
        <div style="font-size:larger; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; text-align:center; font-weight:bold; font-size:30px">
            <a>Thẩm mỹ không dao kéo - cuộc chơi của những người có tiền?</a>
        </div>
        <br />
        <div style="background:#E8E0E0; height:1px"></div>
        <br />
        <div class="row">
            <div class="col-md-8">
                <div>
                    <img src="~/Assets/img/Tin1.jpg" style="width:100%; height:500px;" href="#" />
                </div>
                <br />
                <div>
                    <p style="text-align:justify">Tại tọa đàm “Đánh thức vẻ đẹp tiềm ẩn” diễn ra ngày 23/12 ở TP HCM, hàng trăm chị em phụ nữ chia sẻ câu chuyện nhan sắc của mình. Dường như ai cũng có mong muốn, khát khao làm đẹp, có người lo lắng về chi phí, có người có điều kiện kinh tế nhưng sợ đau, sợ biến chứng… Cằm v-line, mũi cao là hai điều mà nhiều chị em hướng tới nhất. Không thể phủ nhận chiếc cằm thanh thoát, mũi đẹp làm cho khuôn mặt sáng hơn, có điểm nhấn và thu hút hơn, vì thế phương pháp tiêm filler cho kết quả nhanh chóng rất được quan tâm.</p>
                    <p style="text-align:justify">Chị Lê Thị Thanh Xuân, một nữ doanh nhân thành đạt điều hành nhiều công ty, trong đó có showroom mỹ phẩm Chợ tình của Boo nổi tiếng, đã chia sẻ về nỗi sợ của mình trong việc làm đẹp. Lần đầu tiên tiêm filler vào mũi, chị sợ thất bại, sợ bác sĩ làm không chuẩn, sợ kết quả không đẹp, sợ ảnh hưởng đến da… Những chị em khác thì sợ đau, sợ biến chứng, sợ phải “theo đuổi” công cuộc làm đẹp sẽ tốn kém.</p>
                </div>
                <br />
                <div>
                    <img src="~/Assets/img/VD1.jpg" style="width:80%; height:350px; padding-left:20%" href="#" />
                </div>
                <br />
                <div>
                    <p style="text-align:justify">Bác sĩ Nguyễn Phương Thảo, giám đốc Thẩm mỹ quốc tế Diva, người có hơn 10 năm kinh nghiệm thẩm mỹ cho rằng, phụ nữ sợ là bởi vì họ chưa hiểu biết gì về dịch vụ và sản phẩm mình sẽ dùng. Họ thấy có trào lưu làm đẹp cằm nhọn, mũi cao, nhấn mí mắt… là họ thích thú làm, mà không tìm hiểu ngọn ngành sản phẩm, cùng với đó là tâm lý muốn “ngon bổ rẻ”.</p>
                    <p style="text-align:justify">Bác sĩ Thảo và chị Xuân đều chung quan điểm, làm đẹp nói chung và làm đẹp an toàn là cuộc chơi của những người dám chi, bởi nó như một sự đầu tư, và sẽ “sinh lời”. Việc thẩm mỹ không dao kéo trên thị trường như có cả… thượng vàng hạ cám, giá nào cũng có, các spa, salon tóc cũng treo biển thẩm mỹ, thậm chí có những dịch vụ tiêm filler tại nhà, hot girl đi tiêm. Theo bác sĩ Thảo, khi chọn dịch vụ tiêm filler và giá cả, cần xem xét kỹ 3 yếu tố: sản phẩm filler (của hãng nào, có chứng nhận được sử dụng trên thị trường không, thành phần và tuổi thọ); chuyên môn của người tiêm (filler chỉ được thực hiện bởi bác sĩ thẩm mỹ hoặc bác sĩ da liễu đã qua đào tạo tiêm filler); vùng tiêm phù hợp để cải thiện khiếm khuyết trên mặt. Giá thành của dịch vụ cũng tỷ lệ thuận với 3 yếu tố trên, bác sĩ chuyên môn càng cao thì chi phí cao, sản phẩm chính hãng có độ an toàn cao thì giá cao. Còn với các dịch vụ giá rẻ, chất filler được bán tràn lan, người tiêm thiếu trình độ… thì hậu quả về tác dụng phụ, biến chứng, thậm chí tiêm sai kỹ thuật làm tắc mạch máu, hoại tử da…. thì rất nguy hiểm.</p>
                </div>
                <div style="background:#E8E0E0; height:1px"></div>
                <br />
                <div>
                    <p style="font-weight:bold">Gửi ý kiến cho chúng tôi</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Tên:
                        <br />
                        <input placeholder="Tên" class="form-control" type="text" style="border-radius:0" />
                    </div>
                    <div class="col-md-6">
                        Email:
                        <br />
                        <input placeholder="Email" class="form-control" type="text" style="border-radius:0" />
                    </div>
                </div>
                <br />
                <div>
                    Nhập nội dung:
                    <br />
                    <input placeholder=" Nhập nội dung" class="form-control" type="text" style="border-radius:0" />
                </div>
                <br />
                <div>
                    <button type="button" class="btn" id="button">Gửi bình luận</button>
                </div>
                <br />
            </div>
            <div class="col-md-4">
                <div style="font-size:larger; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; text-align:center; font-size:25px">
                    <a>TIN NỔI BẬT</a>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Assets/img/Tin1.jpg" style="width:100%; height:80px;" href="#" />
                    </div>
                    <div class="col-md-8">
                        <div>
                            <a style="font-size:15px; font-weight:bold">Thẩm mỹ không dao kéo - cuộc chơi của những người có tiền?</a>
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <img src="~/Assets/img/lich.PNG" style="width:25px; height:25px;" href="#" />
                            <a style="color:#D9D9D9; font-size:14px"></a> 28/03/2022
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <a style="text-align:justify">Tại tọa đàm “Đánh thức vẻ đẹp tiềm ẩn” diễn ra ngày 23/12 ở TP HCM, hàng tră...</a>
                        </div>
                    </div>
                </div>
                <br />
                <div style="background:#E8E0E0; height:1px"></div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Assets/img/Tin2.png" style="width:100%; height:80px;" href="#" />
                    </div>
                    <div class="col-md-8">
                        <div>
                            <a style="font-size:15px; font-weight:bold">Những sản phẩm làm đẹp xa xỉ tới mức khiến bạn choáng váng</a>
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <img src="~/Assets/img/lich.PNG" style="width:25px; height:25px;" href="#" />
                            <a style="color:#D9D9D9; font-size:14px"></a> 28/03/2022
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <a style="text-align:justify">Sắm sửa “không ngớt tay” những sản phẩm làm đẹp là đam mê của hầu hết các nà...</a>
                        </div>
                    </div>
                </div>
                <br />
                <div style="background:#E8E0E0; height:1px"></div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Assets/img/Tin3.jpg" style="width:100%; height:80px;" href="#" />
                    </div>
                    <div class="col-md-8">
                        <div>
                            <a style="font-size:15px; font-weight:bold">Xu hướng làm đẹp không cần dao kéo của phụ nữ hiện đại</a>
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <img src="~/Assets/img/lich.PNG" style="width:25px; height:25px;" href="#" />
                            <a style="color:#D9D9D9; font-size:14px"></a> 28/03/2022
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <a style="text-align:justify">Kỷ nguyên của công nghệ làm đẹp mới – Xu hướng làm đẹp mà không cần phẫu thu...</a>
                        </div>
                    </div>
                </div>
                <br />
                <div style="background:#E8E0E0; height:1px"></div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Assets/img/Tin4.jpg" style="width:100%; height:80px;" href="#" />
                    </div>
                    <div class="col-md-8">
                        <div>
                            <a style="font-size:15px; font-weight:bold">Lắng nghe Beauty Blogger Thúy Võ chia sẻ “bí kíp” làm đẹp ngày Tết</a>
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <img src="~/Assets/img/lich.PNG" style="width:25px; height:25px;" href="#" />
                            <a style="color:#D9D9D9; font-size:14px"></a> 28/03/2022
                        </div>
                        <div style="height:10px"></div>
                        <div>
                            <a style="text-align:justify">Vốn dĩ, phụ nữ đã đẹp là phải đẹp quanh năm. Không có lý do gì để nàng chỉ đ...</a>
                        </div>
                    </div>
                </div>
                <br />
                <div style="background:#E8E0E0; height:1px"></div>
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <br />
</div>
<div class="row">
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <br />
        <a style="font-weight:bold">HỖ TRỢ KHÁCH HÀNG</a><br />
        <a>Thắc mắc - Hỏi đáp</a><br />
        <a>Hướng dẫn mua hàng</a><br />
        <a>Đặt hàng & Thanh toán</a><br />
    </div>
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <br />
        <a style="font-weight:bold">THÔNG TIN LIÊN HỆ</a><br />
        <a>140 Lê Trọng Tấn, Tây Thạnh, Tân Phú </a><br />
        <a>Hotline: 012345678 - 098765432</a><br />
        <a>Tư vấn bán hàng từ(8h - 20h thứ 2 - chủ nhật)</a><br />
    </div>
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <br />
        <a style="font-weight:bold">KẾT NỐI VỚI CHÚNG TÔI</a><br />
        <a></a><br />
        <a href="https://www.facebook.com/"><img src="~/Assets/img/fb.jpg" style="width:40px; height:40px;" href="#" /></a>
        <a href="https://www.instagram.com/"><img src="~/Assets/img/IG.jpg" style="width:40px; height:40px;" href="#" /></a>
        <a href="https://www.twitter.com/"><img src="~/Assets/img/wb.jpg" style="width:40px; height:40px;" href="#" /></a>
        <br />
        <a></a><br />
    </div>
</div>
