@{
    ViewBag.Title = "ViewLienHe";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="row" style="margin-top:63px">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" style="padding:0;background:#ffffff">
        <div class="row">
            <div class="col-sm-3">
                @Html.Action("DanhMucSP", "DanhMucSanPham")
            </div>
            <div class="col-sm-9" style="height:555px">
                <a style="margin-left:25%"><img src="~/Assets/img/TTLH.png" style="width:45%; height:22%" /></a>
                <div class="row" style="margin-left:3%">
                    <div class="col-sm-7" style="padding:0">
                        <div style="background:#FFE7EC; height:330px; margin-top:15px">
                            <br /><br />
                            <a style="font-weight:bold;margin-left:3%">Chi nhánh 1:</a><br />
                            <a style="margin-left:8%">Địa chỉ: 140 Lê Trọng Tấn - Tây Thạnh - Tân Phú - TP.Hồ Chí Minh<br /></a>
                            <a style="margin-left:8%">Hotline: 012345678</a><br />
                            <a style="margin-left:8%">Email: email@gmail.com</a>
                            <br /><br />
                            <a style="font-weight:bold;margin-left:3%">Chi nhánh 2:</a><br />
                            <a style="margin-left:8%">Địa chỉ: 140 Lê Trọng Tấn - Tây Thạnh - Tân Phú - TP.Hồ Chí Minh<br /></a>
                            <a style="margin-left:8%">Hotline: 012345678</a><br />
                            <a style="margin-left:8%">Email: email@gmail.com</a>
                        </div>
                    </div>
                    <div class="col-sm-5" style="margin-top:15px; padding:0">
                        <div style="background:#FFE7EC; margin-right:70px; padding-top: 40px; height:330px">
                            <img src="~/Assets/img/Map.jpg" style="width:80%; height:80%; margin-left:30px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="row">
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <a style="font-weight:bold">HỖ TRỢ KHÁCH HÀNG</a><br />
        <a>Thắc mắc - Hỏi đáp</a><br />
        <a>Hướng dẫn mua hàng</a><br />
        <a>Đặt hàng & Thanh toán</a><br />
    </div>
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <a style="font-weight:bold">THÔNG TIN LIÊN HỆ</a><br />
        <a>140 Lê Trọng Tấn, Tây Thạnh, Tân Phú </a><br />
        <a>Hotline: 012345678 - 098765432</a><br />
        <a>Tư vấn bán hàng từ(8h - 20h thứ 2 - chủ nhật)</a><br />
    </div>
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <a style="font-weight:bold">KẾT NỐI VỚI CHÚNG TÔI</a><br />
        <a></a><br />
        <a href="https://www.facebook.com/"><img src="~/Assets/img/fb.jpg" style="width:40px; height:40px;" href="#" /></a>
        <a href="https://www.instagram.com/"><img src="~/Assets/img/IG.jpg" style="width:40px; height:40px;" href="#" /></a>
        <a href="https://www.twitter.com/"><img src="~/Assets/img/wb.jpg" style="width:40px; height:40px;" href="#" /></a>
        <br />
        <a></a><br />
    </div>
</div>