@{
    ViewBag.Title = "GioiThieuUser";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="row" style="margin-top:63px">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" style="padding:0;background:#ffffff">
        <div class="row">
            <div class="col-sm-3">
                @Html.Action("DanhMucSP1", "DanhMucSanPham")
            </div>
            <div class="col-sm-9" style="height:555px">
                <a style="margin-left:33%"><img src="~/Assets/img/GT.png" style="width:30%; height:18%" /></a>
                <div style="background:#FFE7EC; height:400px; margin-top:15px; margin-right:30px">
                    <br />
                    <a style="font-weight:bold;margin-left:4%; color:#FA748F">T&L</a>
                    <a>là một trong những đơn vị cung ứng mỹ phẩm hàng đầu hiện nay đã nhận được sự tin tưởng và ưu tiên lựa chọn của </a><br />
                    <a style="margin-left:2%">nhiều đối tượng khách hàng trên hành trình đi tìm một nhan sắc hoàn mỹ, phong thái tự tin và cơ hội trong công việc và chỉ </a><br />
                    <a style="margin-left:2%">phân cuộc sống.<br /></a>
                    <br />
                    <a style="margin-left:4%">Ra đời, ổn định và không ngừng phát triển, <a style="font-weight:bold; color:#FA748F">T&L</a> đã định vị thành công thương hiệu trên thị trường, trở thành địa phối mỹ </a><br />
                    <a style="margin-left:2%">phẩm chính hãng uy tín, chuyên nghiệp, mang những dòng sản phẩm tốt nhất đến cho chị em, kiến tạo thành công những </a><br />
                    <a style="margin-left:2%">làn da hoàn mỹ, sắc thái tự tin, tất cả vì tương lai và sự hạnh phúc của phụ nữ Việt.</a>
                    <br /><br />
                    <a style="margin-left:4%">Tự hào là nơi cung cấp mỹ phẩm, thực phẩm chức năng của các đơn vị hàng đầu thế giới, chúng tôi mang lại cho quý </a><br />
                    <a style="margin-left:2%">khách hàng đỉnh cao của sự hài lòng tuyệt đối mà họ khó có thể tìm thấy tại bất kỳ một địa chỉ nào khác trên thị trường.</a>
                    <br /><br />
                    <a style="margin-left:4%">Với tinh thần trách nhiệm, phương châm hướng đến sự an toàn và hiệu quả, Bonita Beauty đã không ngừng nỗ lực tìm </a><br />
                    <a style="margin-left:2%">kiếm, hợp tác với những dòng thương hiệu lớn, nhằm mang lại cho phụ nữ cơ hội để nâng tầm nhan sắc, gìn giữ thanh </a><br />
                    <a style="margin-left:2%">xuân, tự tin để chinh phục các thử thách lớn trong cuộc đời.</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="row">
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <a style="font-weight:bold">HỖ TRỢ KHÁCH HÀNG</a><br />
        <a>Thắc mắc - Hỏi đáp</a><br />
        <a>Hướng dẫn mua hàng</a><br />
        <a>Đặt hàng & Thanh toán</a><br />
    </div>
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <a style="font-weight:bold">THÔNG TIN LIÊN HỆ</a><br />
        <a>140 Lê Trọng Tấn, Tây Thạnh, Tân Phú </a><br />
        <a>Hotline: 012345678 - 098765432</a><br />
        <a>Tư vấn bán hàng từ(8h - 20h thứ 2 - chủ nhật)</a><br />
    </div>
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <a style="font-weight:bold">KẾT NỐI VỚI CHÚNG TÔI</a><br />
        <a></a><br />
        <a href="https://www.facebook.com/"><img src="~/Assets/img/fb.jpg" style="width:40px; height:40px;" href="#" /></a>
        <a href="https://www.instagram.com/"><img src="~/Assets/img/IG.jpg" style="width:40px; height:40px;" href="#" /></a>
        <a href="https://www.twitter.com/"><img src="~/Assets/img/wb.jpg" style="width:40px; height:40px;" href="#" /></a>
        <br />
        <a></a><br />
    </div>
</div>
