@{
    ViewBag.Title = "TrangChuUser";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="row" style="margin-top:63px">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" style="padding:0;background:#ffffff">
        <div class="row">
            <div class="col-sm-3">
                @Html.Action("DanhMucSP1", "DanhMucSanPham")
            </div>
            <div class="col-sm-9">
                <div id="demo" class="carousel slide" data-bs-ride="carousel">

                    <!-- Indicators/dots -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active" style="border-radius:100%; width:10px; height:10px; margin:5px"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="1" style="border-radius:100%; width:10px; height:10px; margin:5px"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="2" style="border-radius:100%; width:10px; height:10px; margin:5px"></button>
                    </div>

                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/Assets/img/QC1.png" alt="Los Angeles" class="d-block" style="width:100%;height:380px">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Assets/img/QC2.jpg" alt="Chicago" class="d-block" style="width:100%; height:380px">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Assets/img/QC6.png" alt="New York" class="d-block" style="width:100%;height:380px">
                        </div>
                    </div>

                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-3" style="padding-left:30px">
                            <img src="~/Assets/img/xe.PNG" style="height:80px; width:80px" />
                        </div>
                        <div class="col-sm-9" style="padding-left:40px">
                            <br />
                            <a style="color:#808080; font-weight:bold">CHÍNH SÁCH HỖ TRỢ</a>
                            <br />
                            <a style="font-size:small">Giảm 50% phí vận chuyển</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Assets/img/tien.PNG" style="height:80px; width:80px" />
                        </div>
                        <div class="col-sm-9">
                            <br />
                            <a style="color:#808080; font-weight:bold">GIÁ CẠNH TRANH</a>
                            <br />
                            <a style="font-size:small">Chi phí phát sinh thấp</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Assets/img/qua.PNG" style="height:80px; width:80px" />
                        </div>
                        <div class="col-sm-9">
                            <br />
                            <a style="color:#808080; font-weight:bold">TÍCH ĐIỂM NHẬN QUÀ</a>
                            <br />
                            <a style="font-size:small">Áp dụng từ VIP2 trở lên</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Assets/img/like.PNG" style="height:80px; width:80px" />
                        </div>
                        <div class="col-sm-9">
                            <br />
                            <a style="color:#808080; font-weight:bold">HÀNG CHÍNH HÃNG</a>
                            <br />
                            <a style="font-size:small">Đảm bảo hàng chính hãng</a>
                        </div>
                    </div>
                </div>
            </div>

            <div style="background:#dddddd"><br /></div>

            <div class="row">
                <div class="col-sm-12">
                    <img src="~/Assets/img/tim.PNG" style="height:45px; width:45px" />
                    <a style="color:#FA748F; font-weight:bold; padding-left: 20px;">SẢN PHẨM BÁN CHẠY</a>
                </div>
                <hr style="margin-left:12px; width:100%; color:#FA748F" />
            </div>

            <br />

            <div style="background:#FA748F">
            </div>
            <div class="row">

                @foreach (var item in Model)
                {
                    <div style="margin-bottom:20px; width:32%; margin-left:21px; width:300px">
                        <div class="card h-100 mb-1" style="border-color:#FA748F;background:#FFE7EC">
                            <img src="~/Assets/img/@item.AnhBia" class="card-img-top" style="width:90%; height:200px; margin-left:13px; margin-top:20px" />
                            <div class="card-body">
                                <p class="card-title" style="font-weight:bold">@item.TenSP</p>
                                <p class="card-title" style="color:red; font-weight:bold">Giá: @item.GiaBan VNĐ</p>
                                <br />
                                <a class="btn" style="background:#ff6a00; color:white; margin-left:55%; font-size:small" href="@Url.Action("ChiTietSanPham1", "SanPham", new { ma = item.MaSP })">Xem Chi Tiết</a>
                            </div>
                        </div>
                    </div>
                }

            </div>




        </div>
    </div>
    <div class="col-sm-1"></div>
</div>


<div class="row">
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <a style="font-weight:bold">HỖ TRỢ KHÁCH HÀNG</a><br />
        <a>Thắc mắc - Hỏi đáp</a><br />
        <a>Hướng dẫn mua hàng</a><br />
        <a>Đặt hàng & Thanh toán</a><br />
    </div>
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <a style="font-weight:bold">THÔNG TIN LIÊN HỆ</a><br />
        <a>140 Lê Trọng Tấn, Tây Thạnh, Tân Phú </a><br />
        <a>Hotline: 012345678 - 098765432</a><br />
        <a>Tư vấn bán hàng từ(8h - 20h thứ 2 - chủ nhật)</a><br />
    </div>
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <a style="font-weight:bold">KẾT NỐI VỚI CHÚNG TÔI</a><br />
        <a></a><br />
        <a href="https://www.facebook.com/"><img src="~/Assets/img/fb.jpg" style="width:40px; height:40px;" href="#" /></a>
        <a href="https://www.instagram.com/"><img src="~/Assets/img/IG.jpg" style="width:40px; height:40px;" href="#" /></a>
        <a href="https://www.twitter.com/"><img src="~/Assets/img/wb.jpg" style="width:40px; height:40px;" href="#" /></a>
        <br />
        <a></a><br />
    </div>
</div>
